    <div class = "fotos">   
    <img class="imagen" src={{image_url}} />
    <p class = "name"> <strong>{{name}}</strong></p>
    <p class = "description">{{description}}</p>
    <p class = "tagline">{{tagline}}</p>
    {{!-- <a href="/beers/{id}">{{name}}</a> --}}
    </div>
  